Django>=4.2.0,<5.0.0
django-widget-tweaks>=1.4.12
Pillow>=10.0.0  # For image handling
reportlab>=4.0.4  # For PDF generation
python-dateutil>=2.8.2
django-crispy-forms>=2.0
whitenoise>=6.5.0  # For serving static files 